body {
    color: #2E86C1;
    background-color: #D6EAF8;
    background-image: url("/bg.png");
}

.stButton>button {
    color: #666;
    border-radius: 50%;
    height: 12em;
    width: 12em;
}

.stButton>button:hover {
    background-color: red;
}